[submodule "vim_runtime/plugins/bufexplorer"]
	path = vim_runtime/plugins/bufexplorer
	url = git@github.com:corntrace/bufexplorer.git
[submodule "vim_runtime/plugins/mru.vim"]
	path = vim_runtime/plugins/mru.vim
	url = git@github.com:vim-scripts/mru.vim.git
[submodule "vim_runtime/plugins/nerdtree"]
	path = vim_runtime/plugins/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim_runtime/plugins/lightline.vim"]
	path = vim_runtime/plugins/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim_runtime/plugins/ack.vim"]
	path = vim_runtime/plugins/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim_runtime/plugins/vim-fugitive"]
	path = vim_runtime/plugins/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
